{{define "carBody"}}
<div class="container w-full pb-14 mt-2">
  <div
    class="scrollbar flex items-center justify-between gap-4 overflow-x-scroll md:grid md:grid-cols-4 md:overflow-x-auto lg:grid-cols-8 py-2"
  >
    <a
      class="flex flex-col items-center justify-center gap-y-4 lg:hover:text-primary hover:underline"
      href="/inventory?body=Hatchback"
      ><div
        class="size-[72px] flex-none overflow-hidden rounded-full  md:size-[120px] shadow-lg inset-shadow-sm p-2"
      >
        <img
          alt="Hatchback"
          loading="lazy"
          width="100"
          height="100"
          decoding="async"
          data-nimg="1"
          srcset="/static/img/hatchback.png"
          src="/static/img/hatchback.png"
          style="color: transparent"
        />
      </div>
      <p class="text-nowrap text-center first-letter:uppercase md:text-lg">
        Hatchback
      </p>
      </a>
      <a
      class="flex flex-col items-center justify-center gap-y-4 lg:hover:text-primary hover:underline"
      href="/inventory?body=Sedán"
      ><div
        class="size-[72px] flex-none overflow-hidden rounded-full  md:size-[120px] shadow-lg inset-shadow-sm p-2"
      >
        <img
          alt="Sedán"
          loading="lazy"
          width="100"
          height="100"
          decoding="async"
          data-nimg="1"
          srcset="/static/img/sedan.png"
          src="/static/img/sedan.png"
          style="color: transparent"
        />
      </div>
      <p class="text-nowrap text-center first-letter:uppercase md:text-lg">
        Sedán
      </p></a
    ><a
      class="flex flex-col items-center justify-center gap-y-4 lg:hover:text-primary hover:underline"
      href="/inventory?body=Pick-up"
      ><div
        class="size-[72px] flex-none overflow-hidden rounded-full  md:size-[120px] shadow-lg inset-shadow-sm p-2"
      >
        <img
          alt="Pick-Up"
          loading="lazy"
          width="100"
          height="100"
          decoding="async"
          data-nimg="1"
          srcset="/static/img/pick-up.png"
          src="/static/img/pick-up.png"
          style="color: transparent"
        />
      </div>
      <p class="text-nowrap text-center first-letter:uppercase md:text-lg">
        Pick-Up
      </p></a
    ><a
      class="flex flex-col items-center justify-center gap-y-4 lg:hover:text-primary hover:underline"
      href="/inventory?body=SUV"
      ><div
        class="size-[72px] flex-none overflow-hidden rounded-full  md:size-[120px] shadow-lg inset-shadow-sm p-2"
      >
        <img
          alt="SUV"
          loading="lazy"
          width="100"
          height="100"
          decoding="async"
          data-nimg="1"
          srcset="/static/img/suv.png"
          src="/static/img/suv.png"
          style="color: transparent"
        />
      </div>
      <p class="text-nowrap text-center first-letter:uppercase md:text-lg">
        SUV
      </p></a
    ><a
      class="flex flex-col items-center justify-center gap-y-4 lg:hover:text-primary hover:underline"
      href="/inventory?body=Cupé"
      ><div
        class="size-[72px] flex-none overflow-hidden rounded-full  md:size-[120px] shadow-lg inset-shadow-sm p-2"
      >
        <img
          alt="Cupé"
          loading="lazy"
          width="100"
          height="100"
          decoding="async"
          data-nimg="1"
          srcset="/static/img/cupe.png"
          src="/static/img/cupe.png"
          style="color: transparent"
        />
      </div>
      <p class="text-nowrap text-center first-letter:uppercase md:text-lg">
        Cupé
      </p></a
    ><a
      class="flex flex-col items-center justify-center gap-y-4 lg:hover:text-primary hover:underline"
      href="/inventory?body=Furgón"
      ><div
        class="size-[72px] flex-none overflow-hidden rounded-full  md:size-[120px] shadow-lg inset-shadow-sm p-2"
      >
        <img
          alt="Furgón"
          loading="lazy"
          width="100"
          height="100"
          decoding="async"
          data-nimg="1"
          srcset="/static/img/furgon.png"
          src="/static/img/furgon.png"
          style="color: transparent"
        />
      </div>
      <p class="text-nowrap text-center first-letter:uppercase md:text-lg">
        Furgón
      </p></a
    ><a
      class="flex flex-col items-center justify-center gap-y-4 lg:hover:text-primary hover:underline"
      href="/inventory?body=Off-road"
      ><div
        class="size-[72px] flex-none overflow-hidden rounded-full  md:size-[120px] shadow-lg inset-shadow-sm p-2"
      >
        <img
          alt="Off-Road"
          loading="lazy"
          width="100"
          height="100"
          decoding="async"
          data-nimg="1"
          srcset="/static/img/off-road.png"
          src="/static/img/off-road.png"
          style="color: transparent"
        />
      </div>
      <p class="text-nowrap text-center first-letter:uppercase md:text-lg">
        Off-Road
      </p></a
    ><a
      class="flex flex-col items-center justify-center gap-y-4 lg:hover:text-primary hover:underline"
      href="/inventory?body=Rural"
      ><div
        class="size-[72px] flex-none overflow-hidden rounded-full  md:size-[120px] shadow-lg inset-shadow-sm p-2"
      >
        <img
          alt="Rural"
          loading="lazy"
          width="100"
          height="100"
          decoding="async"
          data-nimg="1"
          srcset="/static/img/rural.png"
          src="/static/img/rural.png"
          style="color: transparent"
        />
      </div>
      <p class="text-nowrap text-center first-letter:uppercase md:text-lg">
        Rural
      </p></a
    >
  </div>
</div>
{{ end }}
