{{define "pagination"}} {{with .Metadata}}
<nav aria-label="pagination" class="flex justify-center mt-4">
	<ul class="flex shrink-0 items-center gap-2 text-sm font-medium">
    <li>
        <a  href="{{$.Filters.Path}}?sort={{$.Filters.Sort}}&page={{sub .CurrentPage 1}}&page_size={{.PageSize}}" class="flex items-center rounded-none p-1 {{if eq .CurrentPage .FirstPage}}pointer-events-none text-gray-400{{else}} text-black hover:text-red-600 dark:text-white dark:hover:text-red-600{{end}}" aria-label="previous page">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-6">
                <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
            </svg>
            Anterior
        </a>
    </li>
    {{ $pageSize := $.Filters.PageSize }}
        {{range $i := seq .FirstPage .LastPage}}
        <li>
          <a href="{{$.Filters.Path}}?sort={{$.Filters.Sort}}&page={{$i}}&page_size={{$pageSize}}" class="flex size-6 items-center justify-center rounded-none p-1{{if eq $.Metadata.CurrentPage $i}}text-white bg-red-600 font-bold dark:bg-red-600{{else}} text-black hover:text-red-600 dark:text-white dark:hover:text-red-600{{end}}" aria-label="page {{$i}}">{{$i}}</a></li>
        {{end}}
    <li>
		<a href="{{$.Filters.Path}}?sort={{$.Filters.Sort}}&page={{add .CurrentPage 1}}&page_size={{.PageSize}}"  class="flex items-center rounded-none p-1 {{if eq .CurrentPage .LastPage}}pointer-events-none text-gray-400{{else}}text-black hover:text-red-600 dark:text-white dark:hover:text-red-600{{end}}" aria-label="next page">
			Siguiente
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-6">
				<path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
			</svg>
		</a>
  </li>
  </ul>
</nav>
{{end}} 
{{end}}


