@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Light Theme */
    --color-surface: var(--color-neutral-100);
    --color-surface-alt: var(--color-white);
    --color-on-surface: var(--color-black);
    --color-on-surface-strong: var(--color-black);
    --color-primary: var(--color-black);
    --color-on-primary: var(--color-white);
    --color-secondary: var(--color-neutral-700);
    --color-on-secondary: var(--color-white);
    --color-outline: var(--color-black);
    --color-outline-strong: var(--color-black);

    /* Dark Theme */
    --color-surface-dark: var(--color-black);
    --color-surface-dark-alt: var(--color-neutral-900);
    --color-on-surface-dark: var(--color-white);
    --color-on-surface-dark-strong: var(--color-white);
    --color-primary-dark: var(--color-white);
    --color-on-primary-dark: var(--color-black);
    --color-secondary-dark: var(--color-neutral-300);
    --color-on-secondary-dark: var(--color-black);
    --color-outline-dark: var(--color-white);
    --color-outline-dark-strong: var(--color-white);

    /* Shared Colors */
    --color-info: var(--color-sky-300);
    --color-on-info: var(--color-black);
    --color-success: var(--color-green-300);
    --color-on-success: var(--color-black);
    --color-warning: var(--color-yellow-200);
    --color-on-warning: var(--color-black);
    --color-danger: var(--color-red-600);
    --color-on-danger: var(--color-black);

    /* Border Radius */
    --radius-radius: var(--radius-lg);

    --font-roboto: "Roboto", sans-serif; 
}  

